
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<div class="form-grup">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#"> My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/welcome">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contact">contact </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">about </a>
        </li>

        <li class="nav-item">
  <li class="nav-item dropdown">
        <h5 class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blogs
        </h5>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/upload">Post Blog</a>
          <a class="dropdown-item" href="/ViewBlog">View All Blogs</a>
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
       
          </div>
        </li>
       
      </ul>
      <a class="nav-link text-warning" href="#">Welcome {{request.user}}</a>
</li>
       
<ul>        
<ul>           <a href="/accounts/logout"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Logout</button> </a> </ul>
     
    
    </div>
  </nav>

<div class="container my-3">
<div class="jumbotron ">
  <h1 class="display-5">Welcome To My Blog</h1>
  <p class="lead">This is a simple hero unsit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>
<div>
  <footer style=" background-color:dark; padding: 30px;  text-align: center; color: white;">
<a href="#"> <i class="fa fa-facebook"></i> </a>

<a class="twiter" href="#"> <i class="fa fa-twitter"></i> </a>
<a class="insta" href="#"> <i class="fa fa-instagram"></i> </a>

</footer>
  
</footer>

</div>


